{% extends "musician/base.html" %}
{% load bootstrap4 i18n %}

{% block content %}
<h1 class="service-name">{{ service.verbose_name }}</h1>

{% if extra_mailbox %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{% trans "Warning!" %}</strong> {% trans "You have reached the limit of mailboxes of your subscription so <strong>extra fees</strong> may apply." %}
  <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <a class="btn btn-light mr-2" href="{% url 'musician:mailbox-list' %}">{% trans "Cancel" %}</a>
  <button type="submit" class="btn btn-secondary">{% trans "Save" %}</button>
  {% if form.instance %}
  <div class="float-right">
    <a class="btn btn-outline-warning" href="{% url 'musician:mailbox-password' view.kwargs.pk %}"><i class="fas fa-key"></i> {% trans "Change password" %}</a>
    <a class="btn btn-danger" href="{% url 'musician:mailbox-delete' view.kwargs.pk %}">{% trans "Delete" %}</a>
  </div>
  {% endif %}
  {% endbuttons %}
</form>
{% endblock %}
