{% extends "musician/base.html" %}
{% load i18n %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <p>{% blocktrans with name=object.name %}Are you sure that you want remove the mailbox: "{{ name }}"?{% endblocktrans %}</p>
  <div class="alert alert-danger" role="alert">
    {% trans "All mailbox's messages will be <strong>deleted and cannot be recovered</strong>." %}
  </div>
  <p class="alert alert-warning"><strong>{% trans 'WARNING: This action cannot be undone.' %}</strong></p>
  <input class="btn btn-danger" type="submit" value="{% trans 'Delete' %}">
  <a class="btn btn-secondary" href="{% url 'musician:mailbox-list' %}">{% trans 'Cancel' %}</a>
</form>
{% endblock %}
