{% extends "musician/base.html" %}
{% load bootstrap4 i18n %}

{% block content %}
<h1 class="service-name">{% trans "Change password" %}: <span class="font-weight-light">{{ object.name }}</span></h1>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <a class="btn btn-light mr-2" href="{% url 'musician:mailbox-list' %}">{% trans "Cancel" %}</a>
  <button type="submit" class="btn btn-secondary">{% trans "Save" %}</button>
  {% endbuttons %}
</form>
{% endblock %}
