{% extends "musician/base.html" %}
{% load i18n musician %}

{% block content %}

<h1>{{ service.verbose_name }}</h1>
<p>{{ service.description }}</p>
<table class="table table-hover">
  <thead class="thead-dark">

    <tr>
      {% for field_name in service.fields %}
      <th scope="col">{{ field_name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for resource in object_list %}
    <tr>
      {% for field_name in service.fields %}
      <td>{{ resource|get_item:field_name }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  {% include "musician/components/table_paginator.html" %}
</table>
{% endblock %}
